.navbar{
    height: 60px;
}

.pull-right{
    margin-right: 1%;
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-dark .navbar-brand
{
color: whitesmoke;
    margin-left: 5px;
font-size: 23px;
}
.navbar-dark .navbar-brand span{
    color: #e0a800;
}

#menuButton{
    background-color: #212529;
    color: #e0a800;
    padding: 5px; 
    border: none;
    margin-top: 4px;    
}