
    <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="height: 300px; display: block;"
  >
  
</highcharts-chart>

<div class="mt-3 justify-content-center d-flex">
    <mat-form-field>
        <mat-label>Select a product</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="changeProd($event)">
          <mat-option value="prod1">prod1</mat-option>
          <mat-option value="prod2">prod2</mat-option>
          <mat-option value="prod3">prod3</mat-option>
          <mat-option value="prod4">prod4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

