<mat-card>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIE0lfYfzhPrYOhVlIROm-CbkCKJN9r8HZ6CFLTiXuwLe8lCbLR2mACbBArxjOjdRIvBg&usqp=CAU" alt="Photo">
    <mat-card-header>
        <mat-card-title>Foulen</mat-card-title>
        <mat-card-subtitle>foulen@foulen.com</mat-card-subtitle>
      </mat-card-header>
</mat-card>
<mat-divider></mat-divider>
<mat-nav-list>
<div matSubheader>Filtrer par :</div>
<div mat-list-item>par pays</div> 
<div mat-list-item>par région</div> 
<div mat-list-item>par ville</div>  
</mat-nav-list>