<mat-card>
  <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIE0lfYfzhPrYOhVlIROm-CbkCKJN9r8HZ6CFLTiXuwLe8lCbLR2mACbBArxjOjdRIvBg&usqp=CAU" alt="Photo">
  <mat-card-header>
      <mat-card-title>Foulen</mat-card-title>
      <mat-card-subtitle>foulen@foulen.com</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<mat-divider></mat-divider>

<div matSubheader id="filtrer">Filtrer par :</div>
<div class="container-fluid">
  <form class="d-flex flex-column" [formGroup]="filterForm">
    
    <div class="mb-3">
      <label for="datedebut">Date de debut</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            
            <input  placeholder="Date de début" type="date" class="form-control rounded"
                   name="dp" ngbDatepicker #d="ngbDatepicker"
                   #dateDebut formControlName="dateDebut">
            <div class="input-group-append">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="mb-3">
      <label for="dateFin">Date de fin</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            
            <input  placeholder="Date de fin" type="date" class="form-control rounded"
                   name="dp" ngbDatepicker #d="ngbDatepicker"
                   #dateFin formControlName="dateFin" value="2021-09-01">
            <div class="input-group-append">
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="mb-3">
      <mat-form-field>
        <mat-label>Continent</mat-label>
        <mat-select [(value)]="selectedContinent" (change)="onContinentChange($event)" formControlName="continent">
          <mat-option *ngFor="let element of continents" [value]="element">{{element}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>


    <div class="mb-3">
      <mat-form-field >
        <mat-label>Produit</mat-label>
        <mat-select id="formFilter1" [(value)]= "selectedProduct" (change)="onProductChange($event)" formControlName="produit">
          <mat-option *ngFor= "let element of products" [value]="element">{{element}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field >
        <mat-label>Client</mat-label>
        <mat-select [(value)]= "selectedClient" (change)="onClientChange($event)" formControlName="client">
          <mat-option *ngFor= "let element of clients" [value]="element">{{element}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field >
        <mat-label>Fournisseur</mat-label>
        <mat-select [(value)]= "selectedFournisseur" (change)="onFournisseurChange($event)" formControlName="fournisseur">
          <mat-option *ngFor= "let element of fournisseurs" [value]="element">{{element}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field >
        <mat-label>Magazin</mat-label>
        <mat-select [(value)]= "selectedMagazin" (change)="onMagazinChange($event)" formControlName="magazin">
          <mat-option *ngFor= "let element of magasins" [value]="element">{{element}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mb-3 justify-content-around d-flex">
      <button class="btn rounded bgBtn" type="submit" (click)="setFilters()">Filtrer</button>
    </div>
  </form>
</div>

<!--div matSubheader id="filtrer">Filtrer par :</div>
<div class="d-flex justify-content-center mb-3">
  <mat-button-toggle-group name="date" #group2="matButtonToggleGroup" aria-label="Font Style" class="d-flex flex-column" [value]="selectedFilter2" (change)="onFilter2Change(group2.value)" >
    <mat-button-toggle value="year">
      <mat-form-field>
        <mat-label>Année</mat-label>
        <mat-select [(value)]="selectedFilter2Year" (change)="onYearChange($event)">
          <mat-option value="{{currentYear}}">{{currentYear}}</mat-option>
          <mat-option *ngFor= "let element of years" [value]="element">{{element}}</mat-option>
          
        </mat-select>
      </mat-form-field>
    </mat-button-toggle>
    <mat-button-toggle value="week">
      <mat-form-field>
        <mat-label>Semaine</mat-label>
        <mat-select  [(value)]="selectedFilter2Week" (change)="onWeekChange($event)">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
      
        </mat-select>
      </mat-form-field>
    </mat-button-toggle>
    <mat-button-toggle value="day1" class=" ">
        <mat-form-field>
          <mat-label>Jour de début</mat-label>
          <mat-select  [(value)]="selectedFilter2Day" (change)="onDayChange($event)">
            <mat-option *ngFor= "let number of numbers" [value]="number">{{number}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-button-toggle>
        <br>
        <mat-button-toggle value="day2" class=" ">
          <mat-form-field>
            <mat-label>Jour de début</mat-label>
            <mat-select  [(value)]="selectedFilter2Day" (change)="onDayChange($event)">
              <mat-option *ngFor= "let number of numbers" [value]="number">{{number}}</mat-option>
            </mat-select>
          </mat-form-field>
      </mat-button-toggle>
  </mat-button-toggle-group>
</div-->


