img{
    height: 100px;
    width: 100px;
    border-radius: 70%;
    margin-left: -47px;
}
mat-card{
    text-align: center;
    margin-top: 15px;
    mat-card-header{
        margin-top: 11px;
        line-height: 21px;
    }
}
mat-nav-list{
text-align: center;
div{
    padding: 11px;
    font-size: 17px;
}
div:hover{
    color: black;
    background-color: #e0a800;
}}