body {
  background-color: white;
  min-height: 100%;
  font-family: "Verdana", sans-serif;
}

h1 {
  color: #4D8DC4;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

#legend {
  font-size: 0.7em;
  letter-spacing: 0.1;
}

.map {
  background: white;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 15px #c9c6c6;
  width: 1075px;
}

div.tooltip {   
  position: absolute;
  padding: 7px;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}  

.background {
  background-color: #fff !important;
  fill: transparent;
  pointer-evens: all;
}
rect.background{
  width: 0px;
}

.world {
  transform-origin: center;
}

