<div [ngClass]="{'map': true,'fullMap':isOpen}" attr.width="{{innerWidth}}">
    <h1>vente autour du monde</h1>
    <svg   id="my_dataviz" width="1170" height="450" ></svg>
    <mat-form-field class="d-flex justify-content-center">
        <mat-label>Select</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="changeSelect($event)">
            <mat-option value="none">None</mat-option>
            <mat-option value="fournisseur">Fournisseurs</mat-option>
            <mat-option value="client">Clients</mat-option>
            <mat-option value="boutique">Boutiques</mat-option>
        </mat-select>
      </mat-form-field>
</div>