<div class="chart1">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-lg-4 my-3 ">
            <mat-card class="shadow">
                <app-chart1   [variable]="variable1"></app-chart1>
                </mat-card> 
            </div>
            <div class="col-12 col-lg-4 my-3">
                <mat-card class="shadow">
                    <app-chart1  [variable]="variable2"></app-chart1>
                    </mat-card> 
                </div>
                <div class="col-12 col-lg-4 my-3">
                    <mat-card class="shadow">
                        <app-chart1 [variable]="variable3"></app-chart1>
                        </mat-card> 
                    </div> 
    </div>
</div><!--end chart 1-->
<!--[text]="text1"
[color]="myColor2" [text]="text2"
[color]="myColor3" [text]="text3" -->
<br>
<mat-divider></mat-divider>
<br>

<div class="my-3 chart2 ">
    <div class="row mx-1 bg-white shadow">
        <div class="col-12">
            <app-chart2></app-chart2>
        </div>
    </div>
</div><!--end chart 2-->

<br>  
<mat-divider></mat-divider>
<br><!--carte-->

<div class="chart3 mx-1 my-3">
    <app-d3></app-d3>
</div><!--end carte-->
<br>
<mat-divider></mat-divider>
<br>
<div class="mx-1 my-3 shadow" style="width: 81%;">
    <app-map-leaflet></app-map-leaflet>
</div><!--end carte-->
<br>
<mat-divider></mat-divider>
<br>
<div class="chart1">
    <div class="row mb-3 d-flex justify-content-around">
        <div class="col-12 col-lg-5 mx-0 mx-md-3 mt-3 shadow bg-white ">
                <app-piechart></app-piechart>      
        </div>
        
        <div class="col-12 col-lg-6 mx-0 mx-md-3 mt-3 shadow bg-white">
            <app-bar-chart></app-bar-chart> 
        </div>
        
    </div>
    <br> 
</div>

