.chart1{
    .row{
        width: 83%;
    }
}

.chart2{
    .row{
        width: 81%;
    }
}
.piechart{

    position: absolute;
    left: 20px;  
    width: 50%px;
}

.barChart{
    position: absolute;
    left :550px;
}