<div class="chart1">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-lg-4 my-3 ">
            <mat-card class="shadow">
                <app-chart1  [text]="text1"></app-chart1>
                </mat-card> 
            </div>
            <div class="col-12 col-lg-4 my-3">
                <mat-card class="shadow">
                    <app-chart1 [color]="myColor2" [text]="text2"></app-chart1>
                    </mat-card> 
                </div>
                <div class="col-12 col-lg-4 my-3">
                    <mat-card class="shadow">
                        <app-chart1 [color]="myColor3" [text]="text3"></app-chart1>
                        </mat-card> 
                    </div> 
    </div>
</div><!--end chart 1-->
<br>
<mat-divider></mat-divider>
<br>

<div class="my-3">
    
            <app-chart2></app-chart2>
        
    
</div><!--end chart 2-->
<br>
<mat-divider></mat-divider>
<br><!--carte-->
<div class="chart3">
    <app-d3></app-d3>
    </div>
<br><!--end carte-->
<mat-divider></mat-divider>
<br>
<div class="chart1">
    <div class="row">
        <div class="col">
                <app-piechart></app-piechart>      
        </div>
        
        <div class="col">
            <app-bar-chart></app-bar-chart>   
        </div>
        
    </div>
    <br>

</div>

